
<div class="row">
    <div class="col-md-10">
        <h1>{{pageTitle}}</h1>
    </div>

    <div class="col-md-2">
        <button class="btn btn-primary" routerLink="/recipes/new">Add</button>    
    </div>
</div>



<div class="row">
  <div *ngFor="let recipe of recipes; let i = index" class="col mb-4">
      <div class="card" style="width: 18rem;">
          <img class="card-img-top" [src]="recipe.imageUrl" alt="">

          <div class="card-body">
              <h5 class="card-title">{{recipe.title}}</h5>
              <p class="card-text">{{recipe.description}}</p>
              <a class="btn btn-primary" [routerLink]="['/recipes', i]">Details</a>
          </div>
      </div>
  </div>
</div>
